<%= form_for ["admin", @category] do |f| %>
  <div class="box-body">
    
    <% if @category.errors.any? %>
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-ban"></i><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h4>
        <ul>
          <% @category.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control", placeholder: "Enter Name" %>
    </div>
  </div>

  <div class="box-footer">
    <%= f.submit nil, class: "btn btn-primary" %>
  </div>
<% end %>